@font-face {
    font-family: 'Biko';
    src: url('../fonts/biko/Biko.eot');
    src: url('../fonts/biko/Biko.eot?#iefix') format('embedded-opentype'),
        url('../fonts/biko/Biko.woff') format('woff'),
        url('../fonts/biko/Biko.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Biko';
    src: url('../fonts/biko/Biko-Bold.eot');
    src: url('../fonts/biko/Biko-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/biko/Biko-Bold.woff') format('woff'),
        url('../fonts/biko/Biko-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}